<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--适配器和处理器-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--配置处理器-->
    <context:component-scan base-package="controller"></context:component-scan>
    <!-- 视图控制器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/error"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--只要该bean继承了HandlerExceptionResolver接口，这个类就会被SpringMVC作为一个全局异常处理器-->
    <bean class="exception.UserExceptionResolver"></bean>
</beans>